<form #montosForm="ngForm">
  <div class="container mx-auto p-6">
    <div class="grid grid-cols-4 gap-6">
      <div id="card-ahorro" class="card-monto bg-amber-200">
  <span class="titulo">Ahorro</span>
  <p class="subtitulo">Monto de tu sueldo que deseas ahorrar</p>
  <div>
    <input
      #ahorroSlider
      id="montoAhorro"
      [value]="montoAhorro()"
      (input)="onAhorroChange($event)"
      type="range"
      min="0"
      max="100"
      class="w-full">
      <span class="porcentaje-monto">{{montoAhorro()}}%</span>
    </div>
    <img src="ahorro.svg" alt="Icono de ahorro">
  </div>

  <div id="card-gastos" class="card-monto bg-blue-200">
    <span class="titulo">Gastos necesarios para vivir</span>
    <p class="subtitulo">Monto de tus gastos necesarios para vivir</p>
    <div>
      <input
        #gastosSlider
        id="montoGastosVivir"
        [value]="montoGastosVivir()"
        (input)="onGastosVivirChange($event)"
        type="range"
        min="0"
        max="100"
        class="w-full">
      <span class="porcentaje-monto">{{montoGastosVivir()}}%</span>
    </div>
    <img src="family.svg" alt="Icono de familia">
  </div>

  <div id="card-provisiones" class="card-monto bg-red-200">
    <span class="titulo">Provisiones</span>
    <p class="subtitulo">Monto destinado a provisiones y emergencias</p>
    <div class="">
      <input
        #provisionesSlider
        id="montoProvisiones"
        [value]="montoProvisiones()"
        (input)="onProvisionesChange($event)"
        type="range"
        min="0"
        max="100"
        class="w-full">
      <span class="porcentaje-monto block text-center mt-1">{{montoProvisiones()}} %</span>
    </div>
    <img src="provision.svg" alt="Icono de provisiones" class="">
  </div>

      <div id="card-ocio" class="card-monto bg-green-300">
        <span class="titulo">Monto Play</span>
        <p class="subtitulo">Monto destinado a entretenimiento y ocio</p>
        <div class="">
          <input
            #playSlider
            [value]="montoPlay()"
            (input)="onPlayChange($event)"
            type="range"
            min="0"
            max="100"
            class="w-full">
          <span class="porcentaje-monto block text-center mt-1">{{montoPlay()}} %</span>
        </div>
        <img src="travel.svg" alt="Icono de ocio" class="">
      </div>
    </div>
  </div>
</form>
<span class="{{ getTotalClass() }}">{{ getTotal() }} %</span>
